In [1]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('../data/clean_data/clean_data.csv')
df.head()

,duration_ms,loudness,tempo,valence,acousticness,danceability,energy
0,0.403695,0.451467,0.178779,0.963,0.732,0.819,0.341
1,0.483304,0.557378,0.412301,0.165,0.967,0.275,0.309
2,0.366304,0.530943,0.421576,0.253,0.957,0.418,0.193
3,0.983312,0.449265,0.529827,0.196,0.579,0.697,0.346
4,0.346890,0.514234,0.210284,0.406,0.996,0.518,0.203

In [46]:
centroids = np.array([np.random.uniform(0, 1, 7) for _ in range(4)])
centroids.shape

(4, 7)

In [49]:
df.shape

(146195, 7)

In [101]:
from sklearn.metrics import DistanceMetric


dist = DistanceMetric.get_metric('minkowski')
distances = dist.pairwise(df, centroids) # To all centroids
dist_idxs = np.argmin(distances, axis=1) # Labels

dist_idxs

array([2, 3, 3, ..., 3, 2, 2])

In [109]:
np.min(distances, axis=1) # Dist to label centroid

array([0.52523508, 0.84145508, 0.78358712, ..., 0.82590833, 0.80304973,
       0.77568853])

In [110]:
np.min(distances, axis=1).sum() # INERTIA!!!

113890.02671302887

In [32]:
df.head()

,duration_ms,loudness,tempo,valence,acousticness,danceability,energy,label
0,0.403695,0.451467,0.178779,0.963,0.732,0.819,0.341,3.0
1,0.483304,0.557378,0.412301,0.165,0.967,0.275,0.309,1.0
2,0.366304,0.530943,0.421576,0.253,0.957,0.418,0.193,3.0
3,0.983312,0.449265,0.529827,0.196,0.579,0.697,0.346,1.0
4,0.346890,0.514234,0.210284,0.406,0.996,0.518,0.203,3.0